@import 'normalize.css';

html,
body {
  height: 100%;
  margin: 0;
  background: radial-gradient(
    circle at 50% 50%,
    #141427,
    #004696,
    #1c7eac,
    #1e1e2f
  );
  background-size: 400% 400%;
  animation: holographicShift 8s infinite linear;
  color: #e0e0e0;
}

@keyframes holographicShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}
