@import 'normalize.css';

html,
body {
  height: 100%;
  background-color: #121212;
  color: #e0e0e0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}
